
header {
  background-color: black;
  color: white;
  height: 175px;
}

.logo img {
  height: 55px;

}

.ban p {
  position: relative;
  left: 120px;
  bottom: 40px;
  font-size: 25px;

}

.ban {
position: relative;
left: 490px;
top: 53px;
width: 350px;

}

/* Main Banner*/

.main-banner {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}
