html {
  font-size: 18px;
}


header {
  background-color: black;
  color: white;
  height: 175px;
}

.logo img {
  height: 55px;

}

.ban p {
  position: relative;
  left: 120px;
  bottom: 40px;
  font-size: 25px;

}

.ban {
position: relative;
left: 490px;
top: 53px;
width: 350px;

}

/* Main Banner */

.main-banner {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display:flex;
  flex-wrap: wrap;
}

.container{
  color: white;
  background-color: black;
  width: 30em;
  height: 15em;
  position: relative;
  top: 75px;
  left: 200px;

}


 .headline {
  font-size: 1em;
  position: relative;
  left: 2.2em;
  top: 3.7em;
}

.headline h4 {
  padding-bottom: 1em;
  font-weight: bold;
}

.headline h1 {
  font-weight: bold;
  font-size: 2em;
  width: 80
}

/* Navigation Bar */

nav {
  height: 3.2em;
  background-color: firebrick;
  text-align: center;
  }

  .contain{
    display: flex;
    justify-content: center;
  }

nav a {
  text-decoration: none;
  color: white;
  margin-right: 3.7em;
  font-weight: bold;
  position: relative;
  top: 1em;
}


/*Sample Items*/

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0;
}

.item, .product-image {
  border: 4px solid black;
  height: 25rem;
  width: 30%;
  align-content: center;
}

.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;

}
