html {
  font-size: 18px;
}

header {
  background-color: black;
  color: white;
  height: 4.1rem;
}

.logo img {
  height: 30px;
  position: relative;
  right: 73px;
  bottom:17px;

}

.ban p {
  position: relative;
  bottom: 45px;
  font-size: 18px;
  font-family: helvetica;
}

.ban {
position: relative;
left: 270px;
top: 2.2rem;
width: 350px;
}

/* Main Banner */

.main-banner {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  display:flex;
  flex-wrap: wrap;
}

.container{
  color: white;
  background-color: black;
  /* width: 30em; */
  height: 15em;
  /* position: relative; */
  margin:auto;
  width:75%;
  top: 75px;
  /* left: 200px; */

}


 .headline {
  font-size: 1em;
  /* position: relative; */
  left: 2.2em;
  top: 3.7em;
  /* width:80%; */
}

.headline h4 {
  padding-bottom: 1em;
  font-weight: bold;
  font-family: helvetica;
}

.headline h1 {
  font-weight: bold;
  font-size: 2em;
  width: 80;
  font-family: helvetica;
}

/* Navigation Bar */

nav {
  height: 3.2em;
  background-color: firebrick;
  text-align: center;
  display: flex;
  justify-content: center;
  }

  .contain{
    display: flex;
    justify-content: center;
  }

nav a {
  text-decoration: none;
  color: white;
  margin-right: 7em;
  font-weight: bold;
  position: relative;
  top: 1em;
  left: 2em;
  font-size: 18px;
}

.banner
{
  color: white;
  background-color: black;
  position: relative;
  /* margin:auto; */
  width:30%;
  height:30%;
  top: 75px;
  left: 15%;
  padding:25px 15px;
}

/*Sample Items*/

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
  background-color:white;
  margin: auto;
}
.product {
  margin:5% 0;
  width: 25%;
  float:left;
  background-color:white;
}
.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-image img {
  max-width: 8em;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

.information .location {
  background-color: black;
  color: white;
  width: 22%;
  height: 2rem;
  padding: 1em 2em;
}

.coordinate {
  position: relative;
  top: 7.2rem;
  left: 10rem;
}

.information .hours {
  background-color: black;
  color: white;
  width: 28.2%;
  height: 4.6rem;
}

.location {
  position: relative;
  top: 7rem;
  left: 10rem;
  height: 2rem;
  font-size: 23px;
}



.hours {
  position: relative;
  left: 47.5rem;
  top: 1.4rem;
  }

  .cob {
    position: relative;
    left: 47.5rem;
    top: 1.5rem;
  }

  .hours span {
    padding: 2rem 2rem;
    font-size: 23px;
    position: relative;
    top: 1.5rem;
  }

  .location span {
    position: relative;
    top: .5rem;
  }

  /*Footer*/

  footer {
    color: white;
    background-color: black;
    margin-top: 7rem;
    height: 10rem;
    }

    footer span {
      position: relative;
      top: 5rem;
      left: 7rem;
    }

    /*Media queries*/

    @media only screen and (max-width: 1024px){
      .main-banner h4 {
        font-size: .9em
      }
      .main-banner h1 {
        font-size: 1.5em;
      }
      .contain {
        display: none;
      }
      #tablet-nav {
      display: block;
      color: white;
      position: relative;
      top: 1em;
      font-size: 18px;
      font-weight: bold;
     }
    }
